@import 'colors';

* {
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text-color;
  font-family: "Nunito", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  font-weight: bold;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

p,
ul,
ol,
dl,
td,
th,
button,
input,
textarea,
label,
legend,
fieldset,
address,
dt,
dd {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

address {
  font-style: normal;
}

dt {
  clear: left;
  float: left;
  padding-right: 5px;

  &::after {
    content: ': ';
  }
}
