@import "colors";

.button {
    margin: 0;
    padding: 3px 10px;

    cursor: pointer;

    color: $color-button-text;
    background-color: transparent;
    &--active {
        position: relative;
        top: 1px;
        left: 1px;

        background: $color-button-active-background;
        color: $color-button-active-text;
    }

    &--link {
        background: $color-transparent;
        border: 0;
        padding: 0;
        margin: 0;
        color: $color-button-link-text;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
    &--image {
        background-color: $color-transparent;
        border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        &:hover, &:focus {
            outline: 0;
        }
    }
    &--bordered {
        background-color: $color-button-background;
        color: $color-button-text;
        border: 1px solid $color-button-border;
        box-shadow: 1px 1px 3px $color-button-shadow;
        .spinner > div {
            background-color: $color-button-text;
        }
        &:hover, &:focus {
            background-color: $color-button-hover-background;
            color: $color-button-hover-text;
            .spinner > div {
                background-color: $color-button-hover-text;
            }
        }
        &[disabled] {
            border-color: $color-button-disabled-border;
            background: $color-button-disabled-background;
            color: $color-button-disabled-text;
        }
    }

    &--round {
        border-radius: 50%;
    }

    &--block {
        width: 100%;
        display: block;
    }

    &--flat {
        box-shadow: none;
    }
}