$link-color: #0aa2ed;
$background: #f9d479;
$text-color: #4f2500;
$label-color: #8b4513;
$negative-color: #e41818;
$positive-color: #379c13;
$black: #000;
$whtie: #fff;

$color-background: #f9d479;
$color-transparent: rgba(#000, 0);

$color-button-text: #4f2500;
$color-button-background: #ebbe83;
$color-button-border: #4f2500;
$color-button-shadow: rgba(#000, .8);

$color-button-hover-text: #f9d479;
$color-button-hover-background: #4f2500;
$color-button-hover-border: #f9d479;

$color-button-disabled-text: #888;
$color-button-disabled-background: #ebbe83;
$color-button-disabled-border: #888;

$color-button-link-text: #0aa2ed;

$color-button-active-shadow: rgba(#000, .8);
$color-button-active-text: #ebbe83;
$color-button-active-background: #4f2500;

$color-bonus-text: #663c0c;
$color-invert-text: #f9edc3;
$color-bar-text: #fdfffa;
$color-text: #4f2500;
$color-transparent: transparent;

$color-tabular-menu: #4f2500;
$color-tabular-menu-border: #4f2500;
$color-tabular-menu-active: #0aa2ed;
$color-tabular-menu-hover: #0aa2ed;

$color-box-background: #f9d479;
$color-box-border: #4f2500;
$color-box-text: #4f2500;

$color-input-background: #f8d296;
$color-input-border: #000;
$color-input-valid-border: $positive-color;
$color-input-invalid-border: $negative-color;
$color-label-valid: $positive-color;
$color-label-invalid: $negative-color;
