@import "colors";
@import "buttons";

label {

}

input[type="text"],
input[type="password"] {
	padding: 3px;
	font-size: 12px;
	background: $color-input-background;
	border: 1px solid $color-input-border;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-input-background inset;
}
form fieldset {
	padding: 5px 0;
	border: 0;
	.formdata {
		position: relative;
		padding: 0;
		margin: 6px 0 0 0;
		&--text {
			overflow: hidden;
			label {
				width: 48%;
				float: left;
				margin: 0;
				clear: left;
				padding: 3px 0 0 0;
			}
			.formdata--error, .formdata--input, input[type="text"], input[type="password"], input[type="date"] {
				margin-left: 50%;
				display: block;
				width: 50%;
			}
			.formdata--input input {
				margin-left: 0;
				width: 100%;
			}
		}
		> div + button:last-child,
		button:only-child {
			margin: 0 auto;
			display: block;
			padding: 3px 18px;
			width: 100%;
		}
		&--checkbox {
			input[type="checkbox"] {
				float: left;
				clear: left;
			}
			label {
				margin-left: 22px;
				float: none;
				display: block;
			}
		}
		&--invalid {
			input {
				border-color: $color-input-invalid-border;
			}
			label {
				color: $color-label-invalid;
			}
		}
		&--valid {
			input {
				border-color: $color-input-valid-border;
			}
			label {
				color: $color-label-valid;
			}
		}
		&--info {
			border-bottom: 1px solid $text-color;
			padding: 5px 0;
			margin-top: 35px;
			&:last-child {
				border-bottom: 0;
			}
			& + .formdata--info {
				margin-top: 0;
			}
		}
		&--errorMessage {
			display: block;
			color: $negative-color;
			&:empty {
				display: none;
			}
		}
	}
}

.grecaptcha-badge {
	display: none;
}