// import gridle
@import "~gridle/sass/grid-flex";

// setting up the grid
// default settings
$settings : (
    context : 20,           // number of columns in your grid
    column-width : null,    // by default it's percentage based depending on the context but you can specify a column width yourself
    gutter-width : 0,    // size of the gutters
    gutter-height : 0,      // size of top and bottom gutters
    gutter-top    : 0,      // size of top gutter
    gutter-bottom : 0,      // size of bottom gutter
    gutter-left   : 0,   // size of left gutter
    gutter-right  : 0,   // size of right gutter
    direction : ltr,        // direction
    dir-attribute : false,  // if need to generate support for dir="rtl" in order to set part of layout direction
    states-classes : false, // if we need to generate the states classes
    name-multiplicator : 1, // if 5, generate gr-5, gr-10, etc...
    classes-prefix : ''     // the prefix used for all classes
);
@include gridle_setup($settings);

// make the use of media queries really easy
@include gridle_register_state ( mobile , (
    max-width : 480px
) );
@include gridle_register_state ( tablet , (
    min-width : 481px,
    max-width : 1024px
) ) ;

// even with full custom queries :
@include gridle_register_state ( landscape, (
    query : "(orientation : landscape)"
) );

// generate classes :
@include gridle_generate_classes ( );
