@include placeholder('layout_center') {
	border: 1px solid $text-color;
	height: 600px;
	margin: 20px auto;
	max-width: 1200px;
	min-width: 1000px;
	padding: 0;
	position: relative;
	width: 100%;

	main {
	  height: 100%;
	  overflow: visible;
	  position: relative;
	  width: 100%;
	}

	.app-footer {
	  margin: 0 auto;
	  padding: 20px;
	  text-align: center;

	  ul {
	    border: 0;
	    margin: 0;
	    overflow: hidden;
	    padding: 0;
	  }

	  li {
	    display: inline-block;
	    list-style-image: none;
	    list-style-type: none;
	    margin-left: 0;
	    padding: 3px 0 3px 3px;
	    vertical-align: middle;
	    white-space: nowrap;

	    &::after {
	      content: '|';
	      padding-left: 5px;
	    }

	    &:last-child::after {
	      content: '';
	    }
	  }
	}

}