@include placeholder('layout_fullscreen') {
	border: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	margin: 0;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;

	main {
	  height: 100%;
	  overflow: visible;
	  position: relative;
	  width: 100%;
	}

	.app-footer {
	  margin: 0 auto;
	  padding: 20px;
	  text-align: center;
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;

    ul {
      color: $black;
	    border: 0;
	    margin: 0;
	    overflow: hidden;
	    padding: 0;
	  }

	  li {
	    display: inline-block;
	    list-style-image: none;
	    list-style-type: none;
	    margin-left: 0;
	    padding: 3px 0 3px 3px;
	    vertical-align: middle;
	    white-space: nowrap;

	    &::after {
	      content: '|';
	      padding-left: 5px;
	    }

	    &:last-child::after {
	      content: '';
	    }
	  }
	}
}