@import "imagebuttons";
@import "buttons";

.popup {
	background: url(../img/gui/ui-elements/popup.png) no-repeat 0 0;
	width: 600px;
	height: 550px;
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&:before {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 48px;
		background: url(../img/gui/ui-elements/popup.png) no-repeat -600px 0;
	}
	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0px;
		height: 56px;
		background: url(../img/gui/ui-elements/popup.png) no-repeat -600px -494px;
	}
	header {
		position: absolute;
		left: 35px;
		right: 35px;
		top: 12px;
		height: 28px;
		h2, h3, h4 {
			padding: 0;
			margin: 0;
		}
		.close {
    		position: absolute;
			right: 0;
			top: 0;
			&:empty, span {
    			@include sprite($close);
    			cursor: pointer;
    		}
		}
	}
	section {
		position: relative;
		max-height: 464px;
		overflow: hidden;
		margin: 43px 35px 43px 35px;
		.scrollarea {
			max-height: 464px;
		}
		p {
			padding-left: 0;
			padding-right: 0;
		}
	}
	footer {
		position: absolute;
		z-index: 2;
		left: 35px;
		right: 35px;
		bottom: 10px;
		height: 30px;
		padding: 0 !important;
		p {
			padding: 0;
			margin: 0;
		}
	}
	&--small {
		background: url(../img/gui/ui-elements/popup-small.png) no-repeat 0 0;
		width: 405px;
		min-height: 76px;
		max-height: 500px;
		height: auto;
		padding-top: 50px;
		padding-bottom: 32px;
		&:before {
			content: ' ';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 38px;
			background: url(../img/gui/ui-elements/popup-small.png) no-repeat -405px 0;
		}
		&:after {
			content: ' ';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -10px;
			height: 47px;
			background: url(../img/gui/ui-elements/popup-small.png) no-repeat -405px -454px;
		}
		header {
			position: static;
			margin: 0 50px;
			h1, h2, h3 {
				margin: 0;
				font-size: 18px;
				text-align: center;
			}
			.close {
				top: 10px;
				right: 45px;
			}
		}
		section {
			position: static;
			max-height: 424px;
			overflow: auto;
			margin: 0 50px;
			.scrollarea {
				max-height: 424px;
			}
		}
		footer {
			position: static;
			padding: 0;
			margin: 0 50px;
		}

	}
	&--big {
		background: url(../img/gui/ui-elements/popup-large.png) no-repeat 0 0;
		width: 1000px;
		height: 600px;
		&:before {
			content: ' ';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 60px;
			background: url(../img/gui/ui-elements/popup-large.png) no-repeat -1000px 0;
		}
		&:after {
			content: ' ';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0px;
			height: 54px;
			background: url(../img/gui/ui-elements/popup-large.png) no-repeat -1000px -544px;
		}
		header {
			position: absolute;
			left: 80px;
			right: 75px;
			top: 20px;
			height: 30px;
			h2, h3, h4 {
				padding: 0;
				margin: 0;
			}
			.close {
	    		position: absolute;
				right: 0;
				top: 5px;
	    		span {
	    			@include sprite($close);
	    		}
			}
		}
		section {
			position: static;
			max-height: 490px;
			margin: 55px 75px 55px 80px;
			.scrollarea {
				max-height: 490px;
			}
		}
		footer {
			position: absolute;
			z-index: 2;
			left: 55px;
			right: 55px;
			bottom: 13px;
			height: 30px;
			padding: 0;
			p {
				padding: 0;
			}
		}
	}
}
