//

@keyframes move {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 50px 50px;
	}
}

.progress {
	position: relative;
	border: 1px solid rgba(#000, 0.8);
	background: rgba(#000, 0.5);

	.bar {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: none;
		min-width: 0;
		max-width: 100%;
	}

	&--invers {
		.bar {
			left: none;
			right: 0;
		}
	}
	&--borderless {
		border: 0;
	}
	&--green {
		.bar {
			background: green;
		}
	}
	&--red {
		.bar {
			background: red;
		}
	}
	&--yellow {
		.bar {
			background: yellow;
		}
	}
	&--purple {
		.bar {
			background: purple;
		}
	}
	&--blue {
		.bar {
			background: blue;
		}
	}
	&--striped {
		.bar {
			overflow: hidden;
			background-color: rgb(43, 194, 83);
			background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);

			&:after, span {
				content: " ";

				position: absolute;
				left: 0;
				right: auto;
				bottom: 0;
				top: 0;

				z-index: 1;
				overflow: hidden;
				background-image: linear-gradient(-45deg, rgba(#fff, 0.2) 25%, transparent 25%, transparent 50%, rgba(#fff, 0.2) 50%, rgba(#fff, 0.2) 75%, transparent 75%, transparent);
				background-size: 20px 20px;
			}
		}
	}

	&--3d {
		box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

		.bar {
			box-shadow: inset 0 1px 3px rgba(#fff, 0.3), inset 0 -1px 2px rgba(#000, 0.4);
		}
	}

	&--animated {
		.bar:after, .bar span {
			content: " ";

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			z-index: 1;
			overflow: hidden;
			animation: move 2s linear infinite;
		}
	}

	&--vertical {
		.bar {
			position: absolute;
			top: auto;
			left: 0;
			right: 0;
			bottom: 0;
			min-height: 0;
			max-height: 100%;
		}
		&.progress--invers {
			.bar {
				top: 0;
				bottom: none;
			}
		}
	}
}
