@import 'colors';
@import 'basic';
@import 'mixins';

@import 'layout_center';
@import 'layout_fullscreen';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.app {
  @include _(layout_center);
}

.app--fullscreen {
  @include _(layout_fullscreen);
}
