@import "basic";
@import "mixins";
@import "colors";

.character-profile {

	> section {
		.datalist {
			display: block;
			float: left;
			width: 60%;
			dt {
				display: block;
				width: 6rem;
				float: left;
				clear: left;
			}
			dd {
				display: block;
				float: none;
				margin-left: 6rem;
			}
		}
		> div {
			clear: left;
			margin: 10px 0;
			.textarea {
				border: 1px solid $color-input-border;
				padding: 5px;
				height: 170px;
				overflow: auto;
			}
		}
	}
}