@import "basic";
@import "icons";

.character-bar {
	background: url('../img/gui/ui-elements/topbar.png') repeat-x top left;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 40px;
	padding-left: 75px;
	padding-top: 3px;
	padding-right: 450px;
	color: #fff;
	font-size: 13px;

	.character-name {
		position: static;
		padding: 0 5px;
		width: 28%;
		float: left;
		font-size: 16px;
		font-weight: bold;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.character-name a {
		color: white;
		text-decoration: none;
	}
	.character-refresh {
		position: absolute;
		top: 0;
		left: 60px;
		width: 5px;
		height: 57px;
		display: block;
	}

	.character-day {
		position: static;
		padding: 2px 5px 0 5px;
		width: 24%;
		float: left;
		white-space: nowrap;
	}

	.character-level {
		position: static;
		padding: 2px 5px 0 5px;
		width: 24%;
		float: left;
		white-space: nowrap;
	}

	.character-progress {
		height: 6px;
		margin-top: 4px;
		clear: left;
		width: 76%;

		.bar {
			background: purple;
		}
	}

	.character-need-1, .character-need-2 {
		height: 6px;
		width: 20%;
		float: right;
		clear: right;

		&:before {
			content: " ";
			display: block;
			position: absolute;
			left: -20px;
			top: -7px;
		}

		.bar {
			background: green;
		}
	}

	.character-need-1 {
		margin-top: 4px;

		&:before {
			@include sprite($need-1);
		}
	}

	.character-need-2 {
		margin-top: 10px;

		&:before {
			@include sprite($need-2);
		}
	}

}