@import "basic";
@import "colors";
@import "icons";

.character-resources {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 103;

	background: url('../img/gui/ui-elements/resources.png') no-repeat top left;
	width: 155px;
	height: 73px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
		color: $color-invert-text;
		text-align: right;
		font-size: 12px;
		padding: 1px 2px;
		font-weight: 300;
		position: relative;
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 3px;
			top: 2px;
		}
	}
	.character-points {
		position: absolute;
		left: 6px;
		top: 11px;
		width: 51px;
		height: 17px;
		&:before {
			@include sprite($points);
		}
	}
	.character-pearls {
		position: absolute;
		left: 62px;
		top: 11px;
		width: 82px;
		height: 17px;
		&:before {
			@include sprite($perle);
		}
	}
	.character-creative-points {
		position: absolute;
		left: 6px;
		top: 32px;
		width: 137px;
		height: 17px;
		&:before {
			@include sprite($creativepoints);
			top: 0;
		}
	}
	.character-money {
		position: absolute;
		left: 6px;
		top: 51px;
		width: 137px;
		height: 17px;
	}
	.money1 {
		@include sprite($geld_taler);
		display: inline-block;
		margin: 0 4px -3px 2px;
	}
	.money2 {
		@include sprite($geld_heller);
		display: inline-block;
		margin: 0 4px -3px 2px;
	}
	.money3 {
		@include sprite($geld_kreuzer);
		display: inline-block;
		margin: 0 0 -3px 2px;
	}
}