@import 'colors';
@import 'icons';

.character-bonus {
  background: {
    image: url('../img/gui/ui-elements/bonus.png');
    position: top left;
    repeat: no-repeat;
  };
  height: 37px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 276px;
  top: 0;
  width: 167px;
  z-index: 102;

  li {
    color: $color-bonus-text;
    float: left;
    font-weight: bold;
    height: 20px;
    list-style: none;
    margin: 0;
    padding: 8px 3px 0 26px;
    position: relative;
    text-align: right;
    width: 55px;
  }

  .character-bonus-fights,
  .character-bonus-games,
  .character-bonus-ducks {
    &::before {
      content: ' ';
      position: absolute;
    }
  }

  .character-bonus-games {
    &::before {
      @include sprite($bonus-games);
      left: 6px;
      top: 10px;
    }
  }

  .character-bonus-fights {
    padding-right: 5px;

    &::before {
      @include sprite($bonus-fights);
      left: 6px;
      top: 10px;
    }
  }

  .character-bonus-ducks {
    padding-right: 5px;

    &::before {
      @include sprite($bonus-bath);
      left: 3px;
      top: 8px;
    }
  }

  .character-bonus-timer {
    background: {
      image: url('../img/gui/ui-elements/bonusbar.png');
      position: center bottom;
      repeat: no-repeat;
    };
    bottom: 0;
    height: 6px;
    left: 3px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 160px;

    .bar {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      top: 0;

      &::after {
        @include sprite($bonus-regler);
        bottom: -2px;
        content: ' ';
        display: block;
        position: absolute;
        right: -7px;
      }
    }
  }
}
