@import "colors";
@import "basic";

.chat {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	width: 275px;
	height: 40px;
	padding: 10px 18px 0 20px;
	background: {
		image: url('../img/gui/ui-elements/chat_role_closed.png');
		repeat: no-repeat;
		position: top right;
	};

	&-channels, &-title, &-log, &-footer {
		display: none;
	}

	&.opened {
		height: 612px;
		padding-bottom: 5px;
		background: {
			image: url('../img/gui/ui-elements/chat_role.png');
			repeat: no-repeat;
			position: top right;
		};

		.chat-channels, .chat-log, .chat-title, .chat-footer {
			display: block;
		}

		.chat-header * {
			display: none;
		}
	}

	&-header {
		height: 30px;

		.chat-open {
			position: absolute;
			right: 15px;
			top: 7px;
		}

		.chat-current-channel {
			position: absolute;
			right: 40px;
			top: 5px;
			width: 120px;
		}

		.chat-active-channels {
			position: absolute;
			top: 5px;
			left: 15px;
			right: 165px;
			overflow: hidden;
		}
	}

	&-channels {
		height: 190px;
		overflow: hidden;

		div {
			width: 49%;
			float: left;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		h4 {
			margin: 0;
		}
	}

	&-title {
		height: 25px;
		overflow: hidden;
		position: relative;

		div {
			padding-right: 20px;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&-log {
		height: 307px;
	}

	&-footer {
		height: 26px;
		overflow: hidden;
		position: relative;
		margin-top: 3px;

		button {
			position: absolute;
			top: 5px;
			right: 0;
		}
	}
}