@import "colors";

.error-layer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);	
	z-index: 110;

	.error-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 70%;
		background-color: $color-box-background;
		border: 1px solid $color-box-border;
		box-shadow: 2px 2px 5px solid $color-box-border;
		padding: 10px;
	}

	.error-message {

	}

	.error-actions {

		li {

		}
	}
}