@import 'basic';
@import 'colors';
@import 'mixins';
@import 'buttons';
@import 'imagebuttons';

.game {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

}

.menu {
  background: url('../img/gui/ui-elements/menu.png') no-repeat top left;
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 27px;
  z-index: 101;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0;
  }

  a,
  button {
    background-color: $color-button-background;
    border: 1px solid $color-button-border;
    border-radius: 50%;
    box-shadow: 1px 1px 3px $color-button-shadow;
    display: block;
    margin: 2px 0 0 6px;
    min-width: 30px;
    padding: 0;

    span {
      display: block;
      margin: -1px;
    }
  }

  [data-id="profile"] {
    margin: 0;
  }

  [data-id="minimap"],
  [data-id="storage"] {
    margin-left: 2px;
  }

  [data-id="storage"] {
    width: 50px;
  }

  .avatar-button {
    @include sprite($avatar);
  }

  .storage-button {
    @include sprite($storage);
    height: 50px;
    left: -3px;
    position: relative;
    top: -3px;
    width: 50px;
  }

  .minimap-button {
    @include sprite($minimap);
  }

  .message-button {
    @include sprite($pn-big);
  }

  .inventory-button {
    @include sprite($inventory);
  }

  .attributes-button {
    @include sprite($attributes);
  }

  .friends-button {
    @include sprite($friends);
  }

  .minigames-button {
    @include sprite($minigames);
  }

  .quests-button {
    @include sprite($questlog);
  }

  .highscore-button {
    @include sprite($highscore);
  }

  .forum-button {
    @include sprite($forum);
  }

  .options-button {
    @include sprite($options);
  }

  .help-button {
    @include sprite($help-big);
  }

  .logout-button {
    @include sprite($logout);
  }
}

.character-profile {
  border-radius: 0;

  span {
    @include sprite($avatar);
  }
}
