@import "basic";
@import "colors";
@import "mixins";

.infobubble {
	position: absolute;
	z-index: 20;
	transform: translate(-20%, -100%);
	background-color: $color-button-hover-background;
	&-title {
		font-weight: bold;
		padding: 0.5rem;
		color: $color-button-hover-text;
	}
	&-description {
		font-weight: normal;
		padding: 0.5rem;
		color: $color-button-hover-text;
	}
}