@import 'colors';

.landinfo {
  background-color: $color-button-hover-background;
  color: $color-button-hover-text;
  font-weight: bold;
  left: 50%;
  padding: .5rem;
  position: absolute;
  top: 20px;
  transform: translate(-50%, 0);
  z-index: 20;
}
