@import "_basic.scss";

.map {
	position: absolute;
    top: 38px;
    left: 25px;
    right: 0;
    bottom: 0;
    .map-loader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index:5;
    }
    canvas {
    	position: relative;
    	z-index: 1;
    }
}