@import "_basic.scss";

.minimap {
	position: absolute;
	top: 45px;
	left: 70px;
	width: 20%;
	height: 25%;
	overflow: hidden;
	background: #fff;
	opacity: 0.5;
    &-image {
    	position: absolute;

    }
    &-marker {
    	position: absolute;
    	width: 10px;
    	height: 10px;
    	border-radius: 50%;
    	display: block;
    }

}