.notification-center {
	display: block;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	max-width: 30rem;
	z-index: 10;
}

.notification-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;

	li {
		padding: 0;
		margin: 0;
		display: inline-block;
	}
}