@import "colors";

.startPage {
	display: block;
	background-image: url('../img/gui/startpage.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: auto 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.compass {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 195px;
		height: 197px;
		z-index: 2;
		background-image: url('../img/gui/compass.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	.sidebar {
		background-image: url('../img/gui/sidebar.png');
		background-repeat: no-repeat;
		background-position: top right;
		padding-left: 28.34%;
		top: 0;
		right: 0;
		bottom: 0;
		width: 283px;
		position: absolute;
		z-index: 3;
		ul {
			position: absolute;
			top: 115px;
			right: 0;
			list-style: none;
		}
		li {
			position: relative;
			margin: 7px 0 0 0;
			padding: 0;
			display: block;
			overflow: hidden;
			height: 100px;
			width: 234px;
			&:last-child {
				margin: 0;
			}
			a {
				text-indent: 500px;
				display: block;
				height: 100px;
				width: 234px;
			}
			&:nth-child(1) {
				background: url('../img/gui/sidebar/button_1.png') no-repeat 0 0;
				a {
					background: url('../img/gui/sidebar/registrieren.png') no-repeat 0 0;
				}
			}
			&:nth-child(2) {
				background: url('../img/gui/sidebar/button_2.png') no-repeat 0 0;
				a {
					background: url('../img/gui/sidebar/login.png') no-repeat 0 0;
				}
			}
			&:nth-child(3) {
				background: url('../img/gui/sidebar/button_3.png') no-repeat 0 0;
				a {
					background: url('../img/gui/sidebar/spielinfo.png') no-repeat 0 0;
				}
			}
			&:nth-child(4) {
				background: url('../img/gui/sidebar/button_4.png') no-repeat 0 0;
				a {
					background: url('../img/gui/sidebar/impressum.png') no-repeat 0 0;
				}
			}
		}
	}
}