.startup {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	&-content {
		position: absolute;
		top: 350px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 787px;
		height: 249px;
		z-index: 1001;
		background: url('../img/gui/startup.png') no-repeat;
		padding: 170px 50px 0;
		text-align: center;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
	}

	&--active {
		&::before {
			content: ' ';
			position: absolute;
			z-index: 1000;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: rgba(0, 0, 0, 0.9);
		}

		.startup-content {
			display: block;
		}
	}

	&--inactive {
		&::before {
			display: none;
		}

		.startup-content {
			display: none;
		}
	}
}